body{
    background-color:aliceblue;
} 
.amarillo{
    color: burlywood;
}
.azul{
    color: cadetblue;
}
.rojo{
        color:brown;
    }
.blanco{
        color: azure;
}
.negro{
        color: black;
}
#control{
    color:darkblue;
    text-align: right;
    font-size: 0.9rem;
}
.destacado{
    color: firebrick;
    font-weight: bold;
    text-decoration: overline;
}
.soporte{
    background-color: gainsboro;
    width: 500px;
    border-radius: 20px;
    margin: 100px auto 100px auto;
    border: 3px dashed honeydew;
}
.soporte h2{
    color: indianred;
}
.soporte img{
    width: 200px;
    border-radius: 100%;
}
.btn-soporte{
    background-color: khaki;
    border: none;
    padding: 00.5rem 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 4px lavender;
    cursor: pointer;
}
.btn-soporte:hover{
    background-color: magenta;
}
