@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body{


    background-color: rgba(201, 213, 224, 0.597);
    
}

.contenedor-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


h1{
    font-family: 'Source Serif Pro', serif;
    text-transform: capitalize;
    text-align: center;
    text-shadow: 3px 3px white;
    font-size: 40px;
}

.contenedor h3, h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    font-size: 25px;
    font-style:italic;
}

.contenedor p, li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 400;
    
}
    

.perfil{
    background-color: rgb(163, 233, 251);
    width: 300px;
    border-radius: 30px;
    text-align: center; 
    border: 3px solid;
    padding: 20px; 
    margin-left: 20px;
    margin-top: 50px;
}

.perfil img{
    width: 200px;
    border-radius: 100%;
    border: 3px solid ;
    
}

.perfil h1{
    font-family: 'IM Fell English SC', serif;
    
}

.perfil p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    font-weight: bold;

}



#moraleja{
    color: purple;
    text-align: center;
    font-size:large;
}

.Julieth{
    background-color: silver;
    width: 500px;   
    border-radius: 30px;
    text-align: center;
    border: 4px dashed goldenrod;
    padding: 15px;
    margin-left: 20px;
    margin-top: 50px;
}

.Julieth h2{
    color: purple;
}
.Julieth img{
    width: 350px;
    border-radius: 100%;
    border-style: groove;
}
.btn-Julieth{
    background-color:palevioletred;
    border: none;
    padding-top: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 4px red;
    cursor: pointer;

}


#control{
    color:darkblue;
    text-align: right;
    font-size: 0.9rem;
    text-align: center;
}
.destacado{
    color: firebrick;
    font-weight: bold;
    text-decoration: overline;
}
.soporte{
    background-color: gainsboro;
    width: 500px;
    border-radius: 20px;
    border: 3px dashed honeydew;
    margin-left: 20px;
    margin-top: 50px;
    text-align: center;
    padding: 20px   ;
}
.soporte h2{
    color: indianred;
}
.soporte img{
    width: 200px;
    border-radius: 100%;
    border: 3px solid black;
}
.btn-soporte{
    background-color: khaki;
    border: none;
    padding: 00.5rem 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 4px lavender;
    cursor: pointer;
}
.btn-soporte:hover{
    background-color: magenta;
}

