body{
    background-color: gray;
}

#moraleja{
    color: purple;
    text-align: center;
    font-size:large;
}
.negro{
    color: white;
}

.rojo{
    color: violet;
}
.Julieth{
    background-color: silver;
    width: 600px;   
    border-radius: 30px;
    text-align: center;
    margin: 200px auto 200px auto;
    border: 4px dashed goldenrod;
}
.Julieth h2{
    color: purple;
}
.Julieth img{
    width: 350px;
    border-radius: 100%;
    border-style: groove;
}
.btn-Julieth{
    background-color:palevioletred;
    border: none;
    padding-top: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 4px red;
    cursor: pointer;
}